[2016-08-23 21:47] sbine opened #1 "Consider reverting JSON config to PHP"
Thanks for making this awesome open source library!

I'm in the process of upgrading an app to Laravel 5.3 and version 2.0.0 of laravel-security-header. We've run into issues because we were using conditional logic (based on `APP_ENV`) to generate distinct CSP directives and enable different features for development vs. production environments. Now that the config is in a JSON file, it's become mu

[2016-08-24 02:57] BePsvPT commented on #1
2.1.0 revert the config file from json to php, after upgrading, you need to republish the config file.

[2016-08-24 14:37] sbine commented on #1
Thanks so much! :)

[2016-08-24 14:37] #1 closed

[2017-04-09 08:43] HDVinnie opened #5 "undefined method"
FatalThrowableError in SecureHeadersMiddleware.php line 26:
Call to undefined method Symfony\Component\HttpFoundation\BinaryFileResponse::header()

when I use this function:
[code]

[2017-04-09 14:51] BePsvPT commented on #5
Thanks for reporting the bug, it had been fixed.

[2017-04-09 14:51] #5 closed

[2017-04-11 11:38] HDVinnie opened #6 "img issues"
Hello and thanks for the great package. Maybe I'm doing this wrong but imgs I have whitelisted are not showing up.

[code]

This is my CSP config
<details>
  <summary>secure-headers.php</summary>

[code]
</details>

[2017-04-11 14:39] BePsvPT commented on #6
Hi @HDVinnie,

I have tested your csp rule in all major browsers and can't reproduce the error, could you please share more information?

Besides, the `types ` field in `img-src` directive is used for specifying the protocol, like `http:` or `https:`. It is not used for specifying the image type.

Finally, I would suggest that you should clearly state the protocol when add domains to the `allow` f

[2017-04-11 15:30] HDVinnie commented on #6
https://github.com/paragonie/csp-builder/blob/master/src/CSPBuilder.php
Our problem is line 45
but more directly line 514

So since my site is https only.
so pretty much since the img links are http its not transforming them to https
Which means if your site is HTTPS only https images, which is a valid security policy, but not always feasible

would be nice if those options were in a config file.

[2017-04-17 07:25] BePsvPT commented on #6
Hi @HDVinnie,

The upstream package origin pull request is [#14](https://github.com/paragonie/csp-builder/pull/14) and it seems this feature dost not release yet.

In the meantime, I had added this option to config file ([#ea90a48](https://github.com/BePsvPT/secure-headers/commit/ea90a48a39a84311f9e1c561a783e919bda4d3d3)). After the upstream package releasing new version, I will follow it as soon

[2017-04-20 13:19] WesleyE opened #7 "When handling a StreamedResponse, it fails on the missing method header()"
This happens when streaming a file to the browser, for example. The header() method is not available on that request type.

`Call to undefined method Symfony\Component\HttpFoundation\StreamedResponse::header()`

[2017-04-20 14:12] #7 closed

[2017-04-24 19:28] jeanjoe opened #9 "syntax error, unexpected '?' in SecureHeaders.php"
Hello, I Had installed this package and configured it well on my local machine in laravel 5.4 and it ran without any problems but when i uploaded to the server, I encountered this error .

FatalErrorException in SecureHeaders.php line 121: syntax error, unexpected '?'

It was complaining about this line of code in vendor/bepsvpt/secure-headers/src/SecureHeader.php

$csp = new CSPBuilder($this->con

[2017-04-24 22:07] BePsvPT commented on #9
Hi @jeanjoe,

Please check the php version on your server, the minimum requirement version is 7.0.

[2017-04-25 01:10] HDVinnie commented on #6
thanks

[2017-04-25 05:24] jeanjoe commented on #9
Thank you very much, I was using 5.6 and i just changed to 7.0 and it worked perfectly. Thanks for the great package and great team for your support

[2017-04-25 06:08] #9 closed

[2017-04-27 14:28] kronthto commented on #6
With https://github.com/paragonie/csp-builder/pull/14 it would indeed be possible to include HTTP images on a HTTPS site, but it should be noted that this will raise a mixed content warning in the end-users browser (broken or yellow sign at the lock icon). The main purpose of the PR was to allow it for `form-src`.

[2017-04-27 18:19] grafikkaos opened #10 "Support for blob:"
Hi,

Is there support for blob: with this package? I am currently using it and I am getting the following error:

Refused to load media from 'blob:https://xxxxxxxx.ngrok.io/31d4ff8f-d69e-48ec-b504-ac8c3cab5909' because it violates the following Content Security Policy directive: "media-src http://*.ngrok.io data:".

Is there way I can have this fixed?

Thanks

[2017-05-02 05:45] BePsvPT commented on #10
Hi @grafikkaos, sorry for late replying.

Currently, you can use `types` directive, like

[code]

Hope this will help you.

[2017-05-02 12:10] grafikkaos commented on #10
Ah thank you... Will give that a try and see if that helps :)

[2017-05-03 13:30] grafikkaos commented on #10
It works :)  Thank you !! 👍

[2017-05-03 13:30] #10 closed

[2017-06-15 10:01] johnboc opened #11 "Laravel duplicates X-Content-Type-Options header"
I am using secure-headers in a Laravel project and get an A when scanning the site using securityheaders.io. I do get the followign two warnings:

X-Frame-Options	There was a duplicate X-Frame-Options header.
X-Content-Type-Options	There was a duplicate X-Content-Type-Options header.

Laravel is adding the duplicates from Illuminate\Http\Middleware\FrameGuard.php. Is there a way to prevent this oc

[2017-06-15 10:19] BePsvPT commented on #11
Did you add  `Illuminate\Http\Middleware\FrameGuard.php` to your `app/Http/Kernel.php`?

I couldn't find anywhere that laravel adds this middleware to middlewares.

[2017-06-15 10:56] johnboc commented on #11
No. I've searched all php files in the Laravel project for 'X-Frame-Options' with these results:
\config\secure-headers.php
* X-Frame-Options
* Reference: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Frame-Options
'x-frame-options' => 'sameorigin',

\vendor\bepsvpt\secure-headers\config\secure-headers.php
* X-Frame-Options
* Reference: https://developer.mozilla.org/en-US/docs/Web/HT

[2017-06-16 08:08] BePsvPT commented on #11
Did you set these two headers in web server config file, like nginx or apache?

[2017-06-16 09:49] johnboc commented on #11
Why didn't I think of that!!!! A colleague set up the nginx server so a left hand right hand problem.
Thank you

[2017-06-16 09:57] BePsvPT commented on #11
FYI, if you want to disable these two headers, just set to `null` or empty string.

[2017-06-26 22:08] clickblipclick commented on #10
Is there a way to support loading styles as a blob:?

If you try to add `blob:` as an allowed `style-src` I get the following error:
The source list for Content Security Policy directive 'style-src' contains an invalid source: 'http://blob:'. It will be ignored.

[2017-07-03 04:15] BePsvPT commented on #10
@clickblipclick

use `types` directive, see above comment

[2017-07-17 11:34] nomadtechiemike opened #12 "not able to allow socket.io"
the script works well for everything except socket.io connections I use a specific port and have tried to add my domain name with the port but same error

www.example.com:4044

[2017-07-17 12:47] BePsvPT commented on #12
Did you set the config file correctly?

In `connect-src` directive, it should like the following code

[code]

If you use secure connect, replace `http` and `ws` with `https` and `wss`

[2017-07-17 12:51] BePsvPT commented on #11
If you have any further question, feel free to open a new issue or reply in this issue. 😄

[2017-07-17 12:51] #11 closed

[2017-07-26 05:04] BePsvPT commented on #6
fixed by 4ce4f14

[2017-07-26 05:04] #6 closed

[2017-08-16 03:17] BePsvPT commented on #12
Closing due to inactivity. If you have any question, feel free to open a new issue with a reference to this one.

[2017-08-16 03:17] #12 closed

[2018-02-18 11:34] chriskivaze opened #14 "Laravel Issue"
When i add the global  middleware `\Bepsvpt\SecureHeaders\SecureHeadersMiddleware::class,` in my `app/http/kernel.php `, whenever a validation fails in a form it redirects back to '/' route instead of back to the form with errors. or whenever i call `redirect()->back()` method it redirects to the default route '/' .
This only happens with the global middleware set.

[2018-02-18 12:15] ctf0 commented on #14
@chriskivaze check https://www.sentinelstand.com/article/laravel-redirects-break-when-using-origin-referrer-policy

[2018-02-18 12:33] chriskivaze commented on #14
@ctf0 thanks that helped

[2018-02-18 12:33] #14 closed

[2018-03-21 08:17] PrinsFrank opened #17 "CSP Level 3 changes - "Child-src" Deprecated, Replaced by "frame-src" that is undeprecated, and "worker-src" is added"
The [CSP level 3 Editors draft](https://w3c.github.io/webappsec-csp/#intro) specifies that child-src is now [deprecated](https://w3c.github.io/webappsec-csp/#directive-child-src). Generally these "editor drafts" are what browsers use to implement from. The following changes are important:

"[frame-src](https://w3c.github.io/webappsec-csp/#directive-frame-src)"
- Was previously deprecated, is now u

[2018-04-09 09:07] ruudy-es opened #19 "Tags after merge"
Hi,

Can you please tag this and https://github.com/BePsvPT/csp-builder after my PRs merge?

Also increase the composer.json line that refers to csp-builder.

I do not why but it looks like default-src is not adding the values on "allow" position to the 'self' value, will try to give you more info after solve the prefecth problem we are having.

Thanks!

[2018-04-09 10:00] BePsvPT commented on #17
Hi @PrinsFrank,

I have release a new version that support CSP level 3, however, this is a breaking change upgrade. If you have encountered any problem in upgrade progress,  open a new issue or reply in this issue and I will do my best to help you solve the problem.

[2018-04-09 10:10] BePsvPT commented on #19
Hi @ruudy-es,

Thanks for helping me to improve the package. 👍

After merging your pull request and completing the rest part, I just releasing a new version that support CSP level 3. If you still encounter the same problem, just reply in this issue to let me know it.

[2018-04-17 14:37] #19 closed

[2018-05-07 03:55] BePsvPT commented on #17
Closing due to inactivity. If you have any question, feel free to open a new issue with a reference to this one.

[2018-05-07 03:55] #17 closed

[2018-05-21 23:09] redroses opened #20 "Error when loading data:image - violates csp"
Getting error loading data:image.

FileList {0: File(805286), length: 1}
edit:1 Refused to load the image 'data:image/jpeg;base64,/9j/4T+DRXhpZk=' because it violates the following Content Security Policy directive: "img-src 'self' http://ajax.googleapis.com http://cdnjs.cloudflare.com http://*.tawk.to http://code.jquery.com".

` 'img-src' => [
				'allow' => [
					 $protocol . 'ajax.googleapis.c

[2018-05-21 23:20] BePsvPT commented on #20
Hi @redroses,

In latest version, you should use `schemes` instead of `data`.

[code]

[2018-05-21 23:58] redroses commented on #20
Awesome. Worked perfectly. Thanks for the quick reply.

[2018-05-21 23:58] #20 closed

[2018-05-22 13:47] dsingleton47 opened #21 "Please provide better examples for csp"
Please provide better examples for CSP in the documentation, if I provide anything other than:
'self' => true I the result is an empty img-src value, this is true if I provide an array as well. for example using the example from paragonie/csp-builder with:

'self' => true,
'data' => true

my resulting policy only has self, data doesn't work at all. If I try to provide a domain, the same is true.

[2018-06-18 13:37] johnboc opened #23 "Data protocol not being added to content-security-policy header"
My secure-headers.php has the following rules for img-src:
[code]

However when I try to upload an image via a form as soon as the image is dropped on to the input I get the following error:
[code]

It appears that 'data' => true is being ignored.

[2018-06-20 03:18] BePsvPT commented on #23
Hi @johnboc,

After 5.0, you should add `data:` in `schemes`. Sorry for not explaining it in document.

[code]

[2018-06-20 06:21] johnboc commented on #23
Thanks that works.

[2018-06-20 06:31] BePsvPT commented on #23
If you have any other question, feel free to open a new issue.

[2018-06-20 06:31] #23 closed

[2018-07-14 15:03] JohanMa4 commented on #21
Hi @BePsvPT, how are you man?, i have troubles by adding the data attribute on:
`'font-src' => ['data' => true]`
`img-src' => ['data' => true]`

The 'data' attribute not works!

Can you help me?

Thanks!

[2018-07-16 21:24] JohanMa4 opened #24 "How to setup 'script-src' on https protocol?"
Hi, i've been trying to setup the 'script-src' on 'secure-headers.php' file, but i don't have some response setting up this options.

Can you help me with any information?

Thanks.

[2018-07-19 04:56] BePsvPT commented on #24
Hi @JohanMa4,

If you want to allow `https` protocol on `script-src` directive, just add `https` to `schemes`.

[code]

[2018-07-19 17:51] #24 closed

[2018-07-19 17:54] JohanMa4 opened #25 "How to generate "nonce" and add generated code to script and style tags?"
Hi @BePsvPT, i have another trouble, how can i add a "nonce" key and add it to script an style tags?
I want to fix Content Security Policy on my Laravel App.

[2018-07-24 01:31] BePsvPT commented on #25
Hi @JohanMa4,

After setting `add-generated-nonce` to `true` in `script-src` and `style-src` directives, you can use `SecureHeaders::nonce()` to get nonce value and add to `script` or `style` tags.

[2018-07-31 11:14] BePsvPT commented on #21
Hi @dsingleton47 and @JohanMa4,

I have updated the [document](https://github.com/BePsvPT/secure-headers/tree/master/docs). If you have any suggestion, I will deeply appreciate your feedback.

[2018-07-31 11:43] JohanMa4 opened #26 "Feedback for last commits :)"
Hi @BePsvPT, i think that documentation is really nice, is so clear.

I have a question about “feature policy”, do you implement any config for that header? or is not necessary?

Thanks a lot! :)

[2018-08-01 15:17] BePsvPT commented on #26
Hi @JohanMa4,

Thanks for letting me know this, I will implement it this weekend.

[2018-08-03 20:03] austintoddj opened #27 "Add New Header: Feature Policy"
Love the package, great work on it.

Could you look into adding support for the new security header: `Feature Policy`?

Details on what it entails can be found [here](https://scotthelme.co.uk/a-new-security-header-feature-policy/).

[2018-08-03 20:33] JohanMa4 commented on #27
Hi @austintoddj, @BePsvPT will implement it this weekend, you can check my question on this [post](https://github.com/BePsvPT/secure-headers/issues/26).

I hope this help you

[2018-08-03 20:33] #26 closed

[2018-08-04 05:30] BePsvPT commented on #27
Hi @austintoddj and @JohanMa4,

You can test `feature-policy` header in latest commit, if you have any question, please leave a comment and I will reply soon.

[2018-08-05 11:11] #21 closed

[2018-08-05 11:11] #27 closed

[2018-08-05 11:40] JohanMa4 commented on #27
Thanks @BePsvPT i wIll check it, i hope let you a good feedback.

[2018-08-06 21:05] austintoddj commented on #27
Thank you @BePsvPT!

[2018-08-09 19:06] #25 closed

[2018-08-10 14:02] austintoddj opened #28 "CSP missing after latest release"
Not sure if something changed under the hood for this, but the CSP on a site of mine is no longer recognized, even though I've still got the CSP set to an empty string. Any idea on that?

Just running the sites through [https://securityheaders.com/](https://securityheaders.com/) to verify this.

[2018-08-11 19:46] austintoddj commented on #28
I made a mistake. I had the CSP set to '', when it should have been `null`. Thanks for getting back and sorry for the confusion!

[2018-08-11 19:46] #28 closed

[2018-08-29 08:24] msadeqi opened #29 "I need use url logo in footers website"
Hi
I need use url  logo in footers website :

https://logo.samandehi.ir/logo.aspx?id=125527&p=nbpdodrfujynujynodrfyndt
https://trustseal.enamad.ir/logo.aspx?id=85695&amp;p=6hcAP0z1rV586Pk9

it is not show
What am i doing wrong?
Thanks

[2018-08-29 09:27] msadeqi commented on #29
Hi, thanks
this site https://nasimshow.ir/
![untitled-1](https://user-images.githubusercontent.com/24833578/44778954-7c5fde80-ab93-11e8-9552-31d6bfa7f124.jpg)

thanks

[2018-08-29 09:37] JohanMa4 commented on #29
Hi, checking this url: https://logo.samandehi.ir/logo.aspx?id=125527&p=nbpdodrfujynujynodrfyndt, it doesn't return and image, instead return and html with a hidden form if you check the page code, are your sure that link is an image?

And this one: https://trustseal.enamad.ir/logo.aspx?id=85695&amp;p=6hcAP0z1rV586Pk9, return a white dot in a black screen.

I think your issue is about files or url

[2018-08-29 09:49] msadeqi commented on #29
Hi,Site permissions are correct. when
\ Bepsvpt \ SecureHeaders \ SecureHeadersMiddleware :: class,
  Disabled on the site. Logos are displayed
look at  the pic attach and site adress
![untitled-2](https://user-images.githubusercontent.com/24833578/44780129-7c151280-ab96-11e8-8d82-4cf3d42052f6.jpg)

[2018-08-29 10:04] BePsvPT commented on #29
Hi @msadeqi,

Can you provide your csp `img-src` directive config?

[2018-08-29 10:05] msadeqi commented on #29
'img-src' => [
            'schemes' => [
                'data:',
                'https:',
            ],
            'self' => true,
            'data' => true,
        ],

[2018-08-29 10:16] BePsvPT commented on #29
Hi @msadeqi,

Thanks for providing this information.

Your website response header shows that the csp header is
`https://logo.samandehi.ir/logo.aspx?id=125527&p=nbpdodrfujynujynodrfyndt,https://logo.samandehi.ir/Verify.aspx?id=125527&p=rfthuiwkdshwdshwuiwkjyoe,https://trustseal.enamad.ir/logo.aspx?id=85695&amp;p=6hcAP0z1rV586Pk9,https://trustseal.enamad.ir/Verify.aspx?id=85695&amp;p=6hcAP0z1rV586P

[2018-09-07 05:45] Zabanya opened #30 "question about sha integrity approach"
...

[2018-09-07 15:12] #30 closed

[2018-09-07 17:19] Zabanya commented on #25
@BePsvPT could you update doc to add `'SecureHeaders' => Bepsvpt\SecureHeaders\SecureHeaders::class` in the for it to work on blade template

[2018-09-08 02:10] BePsvPT commented on #25
Hi @Zabanya,

Can you give an example that using it in blade template?

[2018-09-08 02:30] Zabanya commented on #25
add aliases in config/app/php
[code]

blade usage
[code]

[2018-09-08 02:53] BePsvPT commented on #25
Hi @Zabanya,

I have updated the document, you can find it [here](https://github.com/BePsvPT/secure-headers/tree/master/docs#content-security-policy).

[2018-09-08 03:54] JohanMa4 commented on #29
Hi @BePsvPT, checking again the website of @msadeqi https://nasimshow.ir/, it seems that the issue is fixed.

The logos are appearing, so i think that @msadeqi fixed the issue.

[2018-09-08 03:58] BePsvPT commented on #29
Hi @JohanMa4,

Thanks for notifying me. 👍

Hi @msadeqi,

If you have any other questions, feel free to open a new issue.

[2018-09-08 03:58] #29 closed

[2018-11-23 12:25] hasiashiana opened #31 "Error EvalError: for scipt"
Hi

Im getting the below error in the console with the upgrade

EvalError: Refused to evaluate a string as JavaScript because 'unsafe-eval' is not an allowed source of script in the following Content Security Policy directive: "script-src 'self' 'unsafe-inline'

This is my script-src block in config/secure-headers.php

Can some one please let me know what should I change ?

'script-src' => [

[2018-11-23 12:57] BePsvPT commented on #31
Hi @hasiashiana,

When setting `unsafe-eval` to `false`. `eval()` and `Function()` will not enable to use in your code or third party library. You can find more information from MDN: [https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/script-src#Unsafe_eval_expressions](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/script-src#Unsaf

[2018-11-23 13:07] hasiashiana commented on #31
@BePsvPT  Thanks a lot. This clears my doubt.

[2018-11-23 13:07] #31 closed

[2019-04-19 09:32] oleg-tolkach opened #32 "Problem with middleware SecureHeadersMiddleware.php"
Sometimes I have the next error in log file
Trying to get property of non-object in /public_html/vendor/bepsvpt/secure-headers/src/SecureHeadersMiddleware.php:26

I think variable $response has not property headers and it born an exception

[2019-04-19 16:34] BePsvPT commented on #32
Hi @oleg-tolkach,

What is your Laravel version and is there any way to reproduce this bug?

[2019-04-22 07:03] oleg-tolkach commented on #32
Laravel 5.4
I don't know what is the reason of this bug
If I have additional info about it I will update you

пт, 19 апр. 2019 г. в 19:34, BePsvPT <notifications@github.com>:

--
Oleg
Best regards

[2019-05-13 22:24] Masoud180 opened #33 "The right way to config"
Hi
I'm new in Laravel and I have some questions about your package.
I added
\Bepsvpt\SecureHeaders\SecureHeadersMiddleware::class,
to $middlewarePriority in Kernel.php
Is that right?
And what should I write in secure-headers.php?
And how can I be sure that I configured it in the right way?
I'm using Laravel 5.8.
Thanks in advanced.

[2019-05-14 01:17] BePsvPT commented on #33
Hi @Masoud180 ,

You need to add it to `$middleware` in `app/Http/Kernel.php` file. `$middlewarePriority` is used to specific the order when middlewares are assigned to the route.

Use `HTTP Strict Transport Security` for example, if you want to enable `HTTP Strict Transport Security`, you can change `enable` value from `false` to `true` [at here](https://github.com/BePsvPT/secure-headers/blob/5.3

[2019-05-14 08:41] Masoud180 commented on #33
Thank you so much.

[2019-05-14 11:59] BePsvPT commented on #33
If you have any other questions, feel free to comment on this issue.

[2019-05-14 11:59] #33 closed

[2019-05-16 01:24] BePsvPT commented on #33
When `server` is empty string, it will not add to response header([#1](https://github.com/BePsvPT/secure-headers/blob/5.3.3/config/secure-headers.php#L10)). If you want to change this header, you should assign a value to it.

Could you provide more information about this problem?

[2019-05-16 09:48] Masoud180 commented on #33
Thanks
x-xss-protection is fixed. but server is still displaying real details.
I set this to another string but still not working.

[2019-05-17 07:05] voske opened #34 "Working with default settings."
Hey guys,

I have a isue with the secure hearders. I installed it true composer, no problems there. But now it's so secure, i can't even see my bootstrap layout. Should it work on default or i'am missing something? Thanks in advance.

[2019-05-19 12:52] BePsvPT commented on #33
Not all web server services support setting `server` header. This header only tested on Laravel Homestead and Nginx. Sorry for not mention this on config file comment.

[2019-05-19 12:54] BePsvPT commented on #34
I think this is caused by CSP header. You can config it [at here](https://github.com/BePsvPT/secure-headers/blob/5.3.3/config/secure-headers.php#L373-L520).

[2019-05-22 21:08] Masoud180 commented on #33
Thank you so much.

[2019-06-13 06:23] Kokil opened #36 "Get Error parsing header in Chrome Console"
`Error parsing header X-XSS-Protection: 1; mode=block, 1; mode=block: expected semicolon at character position 13. The default protections will be applied.`

[2019-06-20 13:01] katranci opened #37 "Unrecognized feature: 'display-capture'"
Hey 👋 I'm getting the following error on Chrome. Is _display-capture_ a valid policy?

[code]

[2019-06-20 13:50] BePsvPT commented on #37
Hi @katranci,

Currently, `display-capture` is only supported in Firefox now.

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Feature-Policy#Browser_compatibility

[2019-06-20 13:51] BePsvPT commented on #36
Hi @Kokil,

What value did you set for `X-XSS-Protection`?

[2019-06-20 15:03] Kokil commented on #36
Hi @BePsvPT,
Here is the value X-XSS-Protection
'x-xss-protection' => '1; mode=block',

[2019-06-20 15:10] BePsvPT commented on #36
https://github.com/symfony/symfony/issues/30134

I found this issue is same error message as you provide. Did you send `X-XSS-Protection` header in other place? Like Nginx or Apache.

[2019-06-20 15:12] Kokil commented on #36
No, I haven't

[2019-06-20 15:17] BePsvPT commented on #36
Could you use browser developer tools to see the value of `X-XSS-Protection`?

[2019-06-20 15:25] Kokil commented on #36
Yes, you are right. I got double X-XSS-Protection.

[2019-06-20 19:35] wilbertku90 opened #38 "Ignoring “'unsafe-inline'” within script-src: ‘strict-dynamic’ specified"
Hi, I have been having problems with some notifications on Firefox(Version 67.0.2) with script-src, I tried several "solucions" but none of them works for me. Could you help me with this please?

There are the messages I get:
1. Content Security Policy: Ignoring “'unsafe-inline'” within script-src: ‘strict-dynamic’ specified
2. Content Security Policy: Ignoring “https:” within script-src: ‘strict-

[2019-06-22 10:27] BePsvPT commented on #38
Hi @wilbertku90,

According to https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/script-src#strict-dynamic

You can check out the link to see further information.

[2019-06-26 16:43] katranci commented on #37
I see, thanks @BePsvPT 👍

[2019-06-26 16:43] #37 closed

[2019-06-28 03:10] BePsvPT commented on #32
Hi @oleg-tolkach,

After seeing this problem in other place, I guess it is because of missing return value from other middleware.

The following middleware will result in exception you had encountered.

[code]

Thus, you should ensure that all middleware have return value.

[2019-07-10 04:07] HDVinnie opened #39 "X-Powered-By Attack"
Hackers can exploit known vulnerabilities in Express and Node if they know you’re using it. Express (and other web technologies like PHP) set an X-Powered-By header with every request, indicating what technology powers the server. PHP , for example, sets this, which is a dead giveaway that your server is powered by PHP.

Is it possible to add a option in this package config to enable/disable addin

[2019-07-22 09:21] christattum commented on #14
Just encountered this same issue. Thanks!

[2019-08-01 07:30] Sjoerrdd commented on #39
You can call `header_remove("X-Powered-By")` in the AppServiceProvider `boot()` function

[2019-09-04 14:15] BePsvPT commented on #32
Closed due to inactivity, feel free to open a new issue if you have any question.

[2019-09-04 14:15] #32 closed

[2019-09-04 14:15] BePsvPT commented on #34
Closed due to inactivity, feel free to open a new issue if you have any question.

[2019-09-04 14:15] #34 closed

[2019-09-04 14:15] BePsvPT commented on #36
If you have any further question, feel free to open a new issue.

[2019-09-04 14:15] #36 closed

[2019-09-04 14:16] BePsvPT commented on #38
Closed due to inactivity, feel free to open a new issue if you have any question.

[2019-09-04 14:16] #38 closed

[2019-09-06 16:01] BePsvPT commented on #39
Available from version 5.5.0.

[2019-09-06 16:01] #39 closed

[2019-10-30 19:22] HDVinnie opened #41 "Image data: Question"
Im getting a lot of the following.

[![Screen-Shot-2019-10-30-at-3-17-43-PM.png](https://i.postimg.cc/cCS55zQb/Screen-Shot-2019-10-30-at-3-17-43-PM.png)](https://postimg.cc/62M08Ybr)

My Config is so:
[code]

How can I allow all these?

[2019-11-04 11:18] BePsvPT commented on #41
Hi @HDVinnie,

Which version are you used and could you paste full csp config?

[2019-11-04 18:21] HDVinnie commented on #41
@BePsvPT

`"bepsvpt/secure-headers": "^5.3",` in composer.json

[code]
in composer lock

Full config:
https://pastebin.com/49Udqb3b

[2019-11-10 05:12] HDVinnie commented on #41
@BePsvPT any ideas?

[2019-11-10 13:29] BePsvPT commented on #41
I can't reproduce it. Can you paste the CSP header from browser response?

[2019-11-11 22:08] HDVinnie commented on #41
It seemed to be a cache issue my end. Sorry about that.

[2019-11-11 22:08] #41 closed

[2020-02-13 13:41] urfusion opened #43 "Content Security Policy: The page’s settings blocked the loading of a resource at inline (“script-src”)."
I am continually getting below error

Below is my file
[code]

[2020-02-17 00:59] bepsvpt commented on #43
Hi @urfusion,

Could you provide which script was blocked by CSP and which browser are you using?

[2020-02-17 10:23] urfusion commented on #43
Hi @bepsvpt ,

There are multiple errors
[code]

and

[code]
and

[code]

[2020-02-17 10:38] bepsvpt commented on #43
Could you use browser developer tool to check the actual CSP header that browse received?

[2020-02-17 10:42] urfusion commented on #43
I am getting errors like this in mozila console.

![image](https://user-images.githubusercontent.com/8436372/74646693-515eb580-51a0-11ea-96f2-a65fffac1d48.png)

[2020-02-17 10:54] bepsvpt commented on #43
Sorry for confusing. Could you provide the CSP header value like the following screenshot?

<img width="1280" src="https://user-images.githubusercontent.com/8221099/74647510-bf15dc00-51b6-11ea-9c6f-13e67d485efd.png">

[2020-02-17 10:59] urfusion commented on #43
the mail url CSP is

[2020-02-17 11:04] bepsvpt commented on #43
According to https://csp-evaluator.withgoogle.com

Please set `add-generated-nonce` to `false` and try again.

[2020-02-17 11:09] urfusion commented on #43
Cool. Working now. Thanks.

[2020-02-17 12:07] bepsvpt commented on #43
Thanks for reporting this issue, I will add related information to document.

[2020-02-17 12:07] #43 closed

[2020-03-07 13:31] PanjiNamjaElf opened #45 "Add Nonce on Javascript Navigation"
Hello..
How to add nonce on javascript navigation without enable 'unsafe-inline' in 'script-src' ?

Ex:
<a href="javascript:void(0);" class="waves-effect">

I want add nonce on 'javascript:void(0);' or similar script like that
Thanks!

[2020-03-07 14:38] bepsvpt commented on #45
Hi @PanjiNamjaElf,

Is [doc example](https://github.com/bepsvpt/secure-headers/blob/6.0.0/DOCS.md#content-security-policy) what you need?

Or you want something like `<a href="javascript:void(0)">link</a>`?

[2020-03-07 21:57] PanjiNamjaElf commented on #45
Yes...
I want like this

[code]

I try put nonce like this `<a href="javascript:void(0);" class="waves-effect" nonce="ABC==">`
But not work...
When i enable `unsafe-inline` and has some nonce in my inline script unsafe-inline will be ignored

[2020-03-08 01:28] bepsvpt commented on #45
Is it using `<span>...</span>` instead of `<a>...</a>` possible?

[2020-03-08 02:48] PanjiNamjaElf commented on #45
Is not work..
But i have resolved it...

I enable `unsafe-hashes` and hashed `javascript:void(0)` to sha384 and put it on `hashes` config `sha384`

Thank you!!

[2020-03-08 06:21] bepsvpt commented on #45
Thanks for this information. I will add to example!

[2020-03-08 06:21] #45 closed

[2020-03-28 08:17] wvdongen opened #46 "nonces not cleared when unit testing"
When running unit tests nonces will be automatically created if applicable. However, the nonces are not cleared between tests. If you have many unit tests this will impact testing performance and resources.

Add the following test (that will fail deliberately) to your application that contains many tests:

[code]

You will see something similar to:

[code]

[2020-04-15 10:38] #46 closed

[2020-04-15 10:39] bepsvpt commented on #46
Hi @wvdongen,

Thanks for reporting this bug.

[2020-05-12 09:46] arxeiss opened #49 "Support for Reporting API and NEL header"
You already support the `report-to` attribute at CSP. However, this attribute accepts key from `Report-To` header like shown in this site in examples: [developer.mozilla.org](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/report-to).

What do you think about adding the possibility to set the `Report-To` standalone header as well? It can report more issues with yo

[2020-05-18 10:09] bepsvpt commented on #49
Hi @arxeiss,

Thanks for suggestion. I will add `report-to` header.

NEL Header is still in Editor's Draft(https://w3c.github.io/network-error-logging/). I think we should at least wait for it become Working Draft.

W3C Maturity Levels: https://www.w3.org/2019/Process-20190301/#maturity-levels

[2020-05-18 10:20] arxeiss commented on #49
NEL Header is already supported by Chrome on all platforms including Android, but I understand your opinion about adding it when it becomes working draft.

[2020-05-26 16:29] x0y-gt opened #50 "X-Powered-By header name"
I think that the header is `X-Powered-By` instead of `X-Power-By`

[2020-07-21 11:04] yosifeldman opened #51 "Rename Feature-Policy header to Permissions-Policy"
According to the following link, the Feature-Policy header is now renamed to the Permissions-Policy.

https://www.w3.org/TR/permissions-policy-1/

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Feature-Policy

Since yesterday (July 20 2020) started to get errors in Console in the Chrome:
 "Error with Feature-Policy header: Unrecognized feature: 'display-capture'."

[2020-07-27 13:51] #50 closed

[2020-07-30 18:17] J2TEAM commented on #51
Hi @bepsvpt! Can you please update it soon? It shows a lot of errors on my website 😢

![image](https://user-images.githubusercontent.com/5250117/88958907-571e0280-d2cb-11ea-8ff4-e0c703ff8d91.png)

[2020-08-03 21:19] yosifeldman commented on #51
I did my own class that extends their class and rename it myself. The
errors are gone.

Also you can simply disable this section in config/secure-headers.php.

Still will appreciate it to be fixed in the package...

чт, 30 июл. 2020 г., 21:18 JUNO_OKYO <notifications@github.com>:

[2020-08-05 17:49] jamesparkes commented on #51
any updates on this one?

[2020-08-09 13:24] bepsvpt commented on #51
6.2.0 adds `use-permissions-policy-header` config key to `feature-policy`, set it to `true` will use `Permissions-Policy` header name.

https://github.com/bepsvpt/secure-headers/blob/6.2.0/config/secure-headers.php#L148-L159

[2020-08-10 14:24] jamesparkes commented on #51
worked like a charm. thanks 😄

[2020-10-01 06:56] richardnbanks commented on #51
The header gets changed correctly but the format of the values changed too.

[2020-10-13 23:26] HDVinnie commented on #51
Came across this as well after using https://observatory.mozilla.org/ . Hope to see it implemented and released.

[2020-10-14 13:29] bepsvpt commented on #51
`7.0.0` was released, if there is any problem with `permissions-policy`, feel free to reply on this issue.

[2020-11-04 18:34] jlalcebo opened #54 "Incorrect option header name"
It tries to get the value of $this->config['x-power-by'] when it should be $this->config['x-powered-by']

See: https://github.com/bepsvpt/secure-headers/blob/master/src/SecureHeaders.php#L230

PR: https://github.com/bepsvpt/secure-headers/pull/55

Thanks.

[2020-12-03 09:44] bepsvpt commented on #54
This is expected behavior because older version use incorrect key name, you can find it from #50 and b405451.

[code]

To prevent breaking change, it will use `x-powered-by` key first. If `x-powered-by` does not exist, it will use `x-power-by`.

[2020-12-03 09:45] #51 closed

[2020-12-03 18:40] #54 closed

[2020-12-09 15:14] agenciatamandua commented on #21
Please improve Documents, the CSP part is very bad at understanding.
Could you give better examples of how to use CSP?

[2020-12-12 02:37] bepsvpt commented on #21
Hi @agenciatamandua,

If you can provide your requirements, I can include it in examples.

[2020-12-22 04:38] robertnicjoo opened #56 "Error 500 in Laravel"
Since I added this package middleware to my `kernel.php` my website return error 500 and even turning debug mode to true in `.env` file it does not show what the error is. But if I comment the middleware my site runs as usual without issue.

**Config file**

[code]

**Any idea why?**

[2020-12-22 11:49] bepsvpt commented on #56
I can not reproduce this error, could you provide an example repo?

[2021-01-08 07:42] hyquoccuong opened #57 "After setup for laravel, Content-Security-Policy header is not generated"
I see csp is enabled in config file secure-headers.php

[code]

But in header of my site Content-Security-Policy header is not generated

Results from https://securityheaders.com

Missing Headers

Content Security Policy is an effective measure to protect your site from XSS attacks. By whitelisting sources of approved content, you can prevent the browser from loading malicious assets.

How do I en

[2021-01-08 10:03] hyquoccuong commented on #57
I tried some config here but it is not generated

https://barryvanveen.nl/blog/35-how-to-configure-security-headers-for-laravel

[2021-01-10 08:32] bepsvpt commented on #57
Did you add the middleware to `app/Http/Kernel.php`?

You can visit https://github.com/bepsvpt/secure-headers#laravel-project to check it.

[2021-01-11 02:17] hyquoccuong commented on #57
yep I added this to kernel

[2021-01-11 02:17] hyquoccuong commented on #57
[code]

[2021-01-11 03:50] hyquoccuong commented on #57
After I update some options in config file secure-headers.php, now it enabled
[code]
[code]
[code]

[code]

[2021-01-11 03:52] #57 closed

[2021-01-11 07:24] hyquoccuong opened #58 "X-Powered-By keep showing when I leave it empty in config file"
In Laravel config/secure-headers.php
[code]
But in header it shows

X-Powered-By: PHP/7.2.28
-----------------------------------------------------------------
If I change the value:
[code]
Header shows:

X-Powered-By: PHP/7.2.28
X-Powered-By: Laraspace
--------------------------------------------------------------------
And if I change the config to

    'x-powered-by' => [
        'enable' => fal

[2021-01-11 17:37] HDVinnie commented on #56
Or just check your log file and let us know what the error 500 is.

[2021-01-11 17:50] robertnicjoo commented on #56
I've removed this package and created header workers on cloudflare. My problem has solved that way. Thank you.

[2021-01-11 17:50] #56 closed

[2021-02-19 20:40] tobias-trozowski commented on #58
not sure about your setup and i'm not a lara user but u might check https://www.php.net/manual/en/ini.core.php#ini.expose-php

[2021-03-29 02:48] aesyondu commented on #58
I have the same issue. Have you found a workaround @hyquoccuong ?

[code]

[2021-03-29 03:14] aesyondu commented on #58
Nvm, thanks @tobias-trozowski. In my case it was the `php.ini`

1. verify that `expose_php` is **On**
[code]

2. set `expose_php` to **Off** in `php.ini`
[code]

3. restart server and verify header is not shown

[2021-04-06 09:23] yosifeldman opened #60 "Support SharedArrayBuffer updates in Chrome around May 2021"
Got a warning in Chrome:
"[Deprecation] SharedArrayBuffer will require cross-origin isolation as of M91, around May 2021. See https://developer.chrome.com/blog/enabling-shared-array-buffer/ for more details."

Not found in the package any mentions of the headers that they are talking about:

Cross-Origin-Embedder-Policy: require-corp
Cross-Origin-Opener-Policy: same-origin

[2021-04-26 04:27] ChaerilM opened #61 "undefined index: x-content-type-options"
![undef](https://user-images.githubusercontent.com/1352081/116028751-0c76be80-a682-11eb-8826-4e3aca864a24.png)

what did i do wrong?, pretty much clean install and enable config are set as env == production.

[2021-04-27 12:35] bepsvpt commented on #61
Did you accidentally delete the `x-content-type-options` configuration?

https://github.com/bepsvpt/secure-headers/blob/7.1.0/config/secure-headers.php#L15-L23

[2021-04-28 02:29] ChaerilM commented on #61
![xc](https://user-images.githubusercontent.com/1352081/116337155-e416cd80-a803-11eb-842a-96d19b779c24.png)

it's there, on both local and deployment, it only happens in the deployment which is annoying

[2021-05-04 01:58] #61 closed

[2021-06-30 19:12] matheuscamarques commented on #37
how do use 'display-capture' in chrome ?

[2021-07-28 12:59] eladalon1983 commented on #37
1. MDN is wrong. `display-capture` is supported by Safari, too. I've filed an MDN bug, but they're not responsive.
2. The `display-capture` permissions policy has not previously been supported on Chrome, but I have implemented it and it's shipping in m93.

[2021-08-22 19:27] NKazantsev opened #65 "Add CSP Report To"
Hi
Can you add CSP **Report To** option ?
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/report-to

[2021-12-01 11:48] beard7 opened #67 "Add route whitelist"
Great package... in fact, too good.

I have an Outlook Addin that's served from my Laravel web app. It's a single page, but it requires users to be logged in, otherwise I'd host it outside of Laravel.

As soon as CSP is enabled, the Outlook Addin stops working and finding the cause is proving to be a nightmare.

Would it be possible to add a route whitelist so secure headers can be disabled for sp

[2022-01-30 21:21] HDVinnie opened #68 "Laravel 9 Support"

[2022-02-09 01:09] dwightwatson commented on #68
Any reason you closed your PR?

Be great to see the support added now that Laravel 9.x has shipped.

[2022-02-09 01:21] HDVinnie commented on #68
Been over a week with no response. I need to update some projects that rely on this so I plan to just maintain my own fork. I have reopened the PR on a new branch however.

[2022-02-09 01:33] dwightwatson commented on #68
Cool, hopefully it'll grab the maintainer's attention this time around.

[2022-02-09 20:39] barryvanveen commented on #68
I took the liberty to open another PR that also updates the tests and docs: #71

[2022-02-10 01:07] #68 closed

[2022-03-21 04:38] biikashsubedi opened #72 "redirected to file's directory while validation Laravel"
Laravel
while form submits goes to request file `app/Http/Requests/...`. but return back to an unknown location.

[2022-03-24 07:50] repat commented on #65
https://github.com/bepsvpt/secure-headers/blob/master/config/secure-headers.php#L453

@NKazantsev this is now added

[2022-05-11 04:36] karamvirs commented on #57
Hi,
having a similar issue.
I need to set the `frame-ancestors` directive to multiple URIs. But it seems only this seems to work.
`
'frame-ancestors' => [
			'self' => true,
        ],
`

I tried to add it like:
`
'frame-ancestors' => [
			'URI1' => true,
			'URI2' => true,
        ],
`
doesnt work.
Also tried some other ways.

[2022-05-11 04:39] karamvirs opened #73 "Unable to set multiple values to the frame-ancestors directive of the content-security-policy header"
Hi,
I need to set the frame-ancestors directive to multiple URIs. But only this seems to work.
`frame-ancestors' => [ 'self' => true, ],`

I tried to add it like:
`'frame-ancestors' => [ 'URI1' => true, 'URI2' => true, ],`
doesnt work.
Also tried some other ways.

How can I add multiple URIs other than just specifying `self`?

[2022-05-11 11:53] bepsvpt commented on #73
`self` is a special flag to indicate the same origin of the current request.

If you want to add URLs, you should use the `allow` key, e.g.

[code]

[2022-05-12 07:19] karamvirs commented on #73
Awesome, that worked. Thanks a lot.

[2022-05-12 16:38] #73 closed

[2022-07-15 11:27] jd5am opened #75 "jquery.min.js"
Hi there -- I am investigating the use of secure-headers on our site but have hit a problem with regards the enabling of CSP.

We see the following:
`Refused to apply inline style because it violates the following Content Security Policy directive: "style-src 'self' 'unsafe-inline' 'unsafe-eval' data: https: 'nonce-NmY3M2YwOTQ5MmQyOTEyMg==' 'nonce-MzQ5Y2RmNzhhMDdkNTRmMw==' 'nonce-MzBlMzg0YmZhN2MzN

[2022-10-05 11:30] arshadanjum167 opened #76 "securityheaders.com still show Big red F"
Hello All,

1.I have configured as per laravel project and security headers comes in first request of website but all other request like loading js and css that does not have configred security headers.

2.Also securityheaders.com still show Big red F for my website (https://workversatile.com)
Can anyone help me ?

[2022-10-05 11:52] arshadanjum167 commented on #76
Thanks @bepsvpt for quick response,
Yes this website show A but securityheaders.com does not show A .
@bepsvpt can you please tell me what is wrong with my all other js  and css files which does not security headers.

[2022-10-05 12:02] bepsvpt commented on #76
Your server responds with 403 when using https://securityheaders.com to check your site. One of the possible reasons is your server blocks the requests come from https://securityheaders.com.

![image](https://user-images.githubusercontent.com/8221099/194055493-3e9ff242-a2bb-4614-98aa-1b97f942d31a.png)

[2022-10-05 12:07] arshadanjum167 commented on #76
okay what is perfect solution for this reason?

[2022-10-05 12:11] bepsvpt commented on #76
I saw you are using cPanel, thus, I assume you host your website by a provider. I would suggest you contact your provider to ask them to help you solve this issue.

[2022-10-26 06:50] jalmatari commented on #57
[code]

[2022-11-16 16:43] compwright opened #77 "Eliminate Laravel dependency for non-Laravel users"
Kudos on a lightweight and well-organized package for handling all the security headers! This is just what I was looking for.

However this package has only one downside: installing it will install illuminate/support into my project, but I don't need that since I'm not running Laravel.

Could the following be moved to a separate package:

* src/SecureHeadersMiddleware.php
* src/SecureHeadersServic

[2022-11-19 11:44] bepsvpt commented on #77
Hi @compwright,

The `illuminate/support` dependency will be removed in the next release.

Separating into multiple packages is the best option for the issue you encountered. However, considering the maintenance cost, I may not be able to do this. Thus, I choose to solve this issue by removing the dependency.

[2022-11-19 15:11] compwright commented on #77
Awesome, thanks @bepsvpt!

[2022-11-19 22:59] #77 closed

[2022-11-19 23:03] bepsvpt commented on #76
Close due to inactive.

[2022-11-19 23:03] #76 closed

[2022-11-19 23:07] bepsvpt commented on #75
This is not related to `jquery.min.js`.

The error says 'unsafe-inline' was ignored because you had used `nonce` in your `style-src` directive.

[2022-11-19 23:07] #75 closed

[2022-11-19 23:08] bepsvpt commented on #72
I think the issue is not related to this package.

[2022-11-19 23:08] #72 closed

[2022-11-19 23:14] bepsvpt commented on #67
You can reference [SecureHeadersMiddleware.php](https://github.com/bepsvpt/secure-headers/blob/7.2.0/src/SecureHeadersMiddleware.php) file to implement a customized middleware.

For example:
[code]

[2022-11-19 23:14] #67 closed

[2022-11-19 23:32] bepsvpt commented on #60
Hi @yosifeldman,

The `Cross-Origin-*-Policy` headers will be supported in the next release.

[2022-11-19 23:33] bepsvpt commented on #65
Close due to inactive.

[2022-11-19 23:33] #65 closed

[2022-11-19 23:34] bepsvpt commented on #58
Close due to inactive.

[2022-11-19 23:34] #58 closed

[2022-11-20 02:31] #60 closed